


.container{
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;


  
}

.abaut{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    margin-left: 20px;
  
    
}
.abaut div{
    width: 100%;
}
.abaut h1 {
    color: var(--colorLeters);
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 30px;
    margin: auto;
    width: 100%;
}

.abaut p{
    color: rgb(83, 83, 83);
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.aboutBox2{
    height: 70px;
}

.container img{
    opacity: 0;
    position: relative;
    transform: scale(0.9);
    transform: translateX(-100px);
    transition: 1.2s ease-in-out all;
}


.container img.visible{
    opacity: 1;
    transform: scale(1);
    transform: translateX(0px);
} 

@media (max-width: 700px) {
    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px;
       
    }
    .container :first-child{
        width: 100%;
    }
    .abaut {
        text-align: center;
        width: 100%;
        margin: 0px;
        margin-top: 100px;
    }
    
    .abaut h1 {
        margin: 0px;
    }
    .container img{
        transform: translateX(0);
    }
    .container img.visible{
        opacity: 1;
        transform: scale(1);
        transform: translateX(0px);
        
    } 
    
 
 }