:root{
    --colorLeters:rgb(13, 18, 126);
    --colorLeters__Grey:rgb(83, 83, 83);
}

.container{

    height: 80vh;
    font-family: 'Roboto', sans-serif;
}


.container h1{
    color: var(--colorLeters);;
}
.contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 200px;
    font-family: 'Roboto', sans-serif;
}

.contact form input{
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    width:  300px;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--colorLeters__Grey);
}

.contact form textarea{
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    outline: none;
  
    border: 2px solid var(--colorLeters__Grey);
 

}

.contact form button{
    margin-top: 15px;
    border: none;
    outline: none;
    background: url("../icons/enviar.png");
    background-size: cover;
    color: var(--colorLeters);
    font-family:'Roboto', sans-serif;
    font-size: 20px;
    width: 50px;
    height: 50px;

}
.contact form button:hover{
    opacity: 0.8;
    cursor: pointer;
    transform: translateX(2px);
}
.contact img{
    opacity: 0;
    transform: scale(0.9);
    transition: 1.2s ease-in-out all;
}

.contact img.debajo{
    transform: translateY(100px);
}

.contact img.visible{
    opacity: 1;
    transform: scale(1);
    transform: translateY(0px)
}

@media (max-width: 700px) {
    html{
        width: 100%;
    }
    .container{
        margin-top: 200px;
    }
    .contact{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 10%;
        margin: 0px;
       
       
    }
    .contact img.visible{
        opacity: 1;
        transform: translateY(0px)
    }
 
 }