body {
    background-color: white;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
    height: 100vh;

}

.presentation {
    color: rgb(83, 83, 83);
    font-family: sans-serif, cursive;
    font-weight: 600;
    font-size: 30px;
    margin-right: 40px;
    margin-left: 20px;
    line-height: 0.2;
    height: auto;
    
}


.name {
    color: var(--colorLeters);
    font-family: sans-serif, cursive;
    font-weight: 800;
    font-size: 30px;
    margin-right: 50px;
    margin-left: 20px;

}
.presentation img{
    opacity: 0;
    transform: scale(0.9);
    transition: 1.2s ease-in-out all;
}

.presentation img.derecha{
    transform: translateX(100px);
}

.presentation img.visible{
    opacity: 1;
    transform: scale(1);
    transform: translateX(0px)
}

@media (max-width: 700px) {
 
    .container{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 10%;
        height: 600px;
        margin: 0px;
       
    }
    .presentation img{
        display: none;
    }
    .text span{
        height: 200px;
        line-height: 1;
    }
 }